<ul class="nav nav-tabs nav-justified">    
  <li class="nav-item">
    <%=
      active_link_to user_path(user.username),
        class: "nav-link",
        active: :exclusive do %>
      
      Posts
      
      <span class="badge badge-pill badge-secondary">
        <%= user.own_photos.count %>
      </span>
    <% end %>
  </li>

  <li class="nav-item">
    <%=
      active_link_to liked_path(user.username),
        class: "nav-link" do %>

      Liked
      
      <span class="badge badge-pill badge-secondary">
        <%= user.likes.count %>
      </span>
    <% end %>
  </li>

  <li class="nav-item">
    <%=
      active_link_to feed_path(user.username),
        class: "nav-link" do %>

      Feed
      
      <span class="badge badge-pill badge-secondary">
        <%= user.feed.count %>
      </span>
    <% end %>
  </li>

  <li class="nav-item">
    <%=
      active_link_to followers_path(user.username),
        class: "nav-link" do %>
    
      Followers

      <span class="badge badge-pill badge-secondary">
        <%= user.followers.count %>
      </span>
    <% end %>
  </li>

  <li class="nav-item">
    <%=
      active_link_to following_path(user.username),
        class: "nav-link" do %>
    
      Following

      <span class="badge badge-pill badge-secondary">
        <%= user.leaders.count %>
      </span>
    <% end %>
  </li>
</ul> 