<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>
      <%= @user.username %>
    </h1>

    <ul class="nav nav-tabs nav-justified">      
      <li class="nav-item">
        <%= active_link_to user_path(@user.username), class: "nav-link", active: :exclusive do %>
          Posts
          
          <span class="badge badge-pill badge-secondary">
            <%= @user.own_photos.size %>
          </span>
        <% end %>
      </li>

      <li class="nav-item">
        <%= active_link_to liked_path(@user.username), class: "nav-link" do %>
          Liked
          <span class="badge badge-secondary">
            <%= @user.likes.size %>
          </span>
        <% end %>
      </li>

      <li class="nav-item">
        <%= active_link_to feed_path(@user.username), class: "nav-link" do %>
          Feed <%= @user.feed.size %>
        <% end %>
      </li>

      <li class="nav-item">
        <%= active_link_to "Followers ", followers_path(@user.username), class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= active_link_to "Following", following_path(@user.username), class: "nav-link" %>
      </li>
    </ul>    
  </div>
</div>


<% current_user.liked_photos.each do |photo| %>
  <%= render "photos/photo", giraffe: photo %>
<% end %>
