<%= form_with(model: photo) do |form| %>
  <% if photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
        <% photo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :image %>
    <%= form.text_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :caption %>
    <%= form.text_area :caption, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :owner_id %>
    <%= form.text_field :owner_id, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-outline-primary btn-block" %>
  </div>
<% end %>
