<div class="card">
  <div class="card-body py-2">
    <h2 class="h5 m-0 p-0 d-flex align-items-center">
      <%= image_tag photo.owner.avatar_image, class: "rounded-circle mr-2", width: 36 %>

      <%= photo.owner.username %>
    </h2>
  </div>

  <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/FCAB_EMD_GT22CU-3_San_Pedro_-_Ascotan.jpg/640px-FCAB_EMD_GT22CU-3_San_Pedro_-_Ascotan.jpg", class: "img-fluid" %>
  
  <div class="card-body">
    <p class="card-text"><%= photo.caption %></p>
  </div>

  <ul class="list-group list-group-flush">
    <% photo.comments.each do |comment| %>
      <li class="list-group-item">
        <div class="media">
          <%= image_tag comment.author.avatar_image, class: "rounded-circle mr-2", width: 36 %>
          <div class="media-body">
            <h5 class="mt-0"><%= comment.author.username %></h5>
            <p><%= comment.body %></p>
          </div>
        </div>
      
        
      </li>
      
    <% end %>
    
  </ul>
  
  <div class="card-body">
    <%= render "comments/form", comment: photo.comments.build %>
  </div>
</div>